shiny >= 1.4.0
pandas >= 2.2.3
numpy >= 1.26.4
scipy >= 1.14.1
xlsxwriter >= 3.2.0
matplotlib >= 3.8.4
seaborn >= 0.13.2
bokeh >= 3.7.2
jupyter_bokeh >= 4.0.5
shinywidgets >= 0.3.2
scikit-learn >= 1.5.2
statsmodels >= 0.14.2

